@mixin clearfix() {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin background-primary-color-with-image($image, $high-resolution-image: $image) {
  background-image: 
    linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
    url(../img/#{$image});
  background-size: cover;
  background-position: top;

  @media (min-resolution: 192dpi) and (min-width: 37.5em), 
         (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em), 
         (min-width: 125em) {
    background-image: 
      linear-gradient(to right bottom, rgba($color-primary-light, .8), rgba($color-primary-dark, .8)),
      url(../img/#{$high-resolution-image});
  }
}

@mixin color-background-gradient() {
  display: inline-block;
  color: $color-primary-light;
  
  @supports((-webkit-background-clip: text) or (background-clip: text)) {
    -webkit-background-clip: text;
    background-clip: text;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
  }
}

@mixin vh-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin media-query-for($device) {
  @if $device == small-phone {
    @media (max-width: 21.25em) { @content; } // 340px
  }
  @if $device == phone {
    @media (max-width: 37.5em) { @content; } // 600px
  }
  @if $device == tablet-portrait {
    @media (max-width: 56.25em) { @content; } // 900px
  }
  @if $device == tablet-landscape {
    @media (max-width: 75em) { @content; } // 1200px
  }
  @if $device == big-desktop {
    @media (min-width: 112.5em) { @content; } // 1800px
  }
}
