// ---------------- color types
$color-type-primary: 'primary';
$color-type-secondary: 'secondary';
$color-type-tertiary: 'tertiary';

// ---------------- colors

$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eeeeee;
$color-gray-dark-1: #777777;
$color-gray-dark-2: #999999;
$color-white: #ffffff;
$color-black: #000000;

$color-black-shadow: rgba($color-black, .2);

// ---------------- transitions

$transition-default: all 0.2s ease-out;

// ---------------- font-sizes

$font-size-default: 1.6rem;

// ---------------- grid

$grid-max-width: 114rem;
$gutter-vertical: 4rem;
$gutter-horizontal: 6rem;
