.footer {
  background: $color-gray-dark-3;
  padding: 10rem 0;
  font-size: 1.4rem;
  color: $color-gray-light-1;
  
  @include media-query-for(tablet-portrait) {
    padding: 8rem 0;
    font-size: 1.6rem;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;
  
    @include media-query-for(tablet-portrait) {
      margin-bottom: 4rem;
    }
  }

  &__logo {
    width: 15rem;
    @include color-background-gradient();
  }

  &__navigation {
    border-top: 1px solid $color-gray-dark-1;
    padding-top: 2rem;
    display: inline-block;
  
    @include media-query-for(tablet-portrait) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {
    transition: $transition-default;

    &:link,
    &:visited {
      color: inherit;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rbga($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
    }
  }

  &__copyright {
    border-top: 1px solid $color-gray-dark-1;
    padding-top: 2rem;
    width: 80%; 
    float: right;

    @include media-query-for(tablet-portrait) {
      width: 100%;
      float: none;
    }
  }
}
