.composition {
  position: relative;

  &__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    border-radius: 0.2rem;
    position: absolute;
    transition: $transition-default;

    &:hover {
      outline: 1.5rem solid $color-primary;
      outline-offset: 2rem;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
    
    &--p1 {
      left: 0;
      top: -2rem;
    }
    &--p2 {
      right: 0;
      top: 2rem;
    }
    &--p3 {
      left: 20%;
      top: 10rem;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }

  @include media-query-for(tablet-portrait) {
    &__photo {
      width: 33%;
      border-radius: 0.2rem;
      position: relative;
      transform: scale(1.1);

      &:hover {
        outline: 1rem solid $color-primary;
        outline-offset: 1rem;
        transform: scale(1.35);
        box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
        z-index: 20;
      }
      
      &--p1 {
        left: 0;
        top: 0;
      }
      &--p2 {
        right: 0;
        top: 3rem;
        z-index: 10;
      }
      &--p3 {
        left: 0;
        top: 0;
      }
    }
  
    &:hover &__photo:not(:hover) {
      transform: scale(1.1);
    }

  }
}
