.form {

  &__group {
    margin-bottom: 2rem;
  }

  &__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: 1.5rem 2rem;
    border-radius: 0.2rem;
    background-color: rgba($color-white, 0.5);
    border: none;
    border-bottom: 3px solid transparent;
    display: block;
    width: 90%;
    transition: $transition-default;

    &:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
      
      &:valid {
        border-bottom-color: $color-primary;
      }
      &:invalid {
        border-bottom-color: $color-secondary-dark;
      }
    }

    &::-webkit-input-placeholder {
      color: $color-gray-dark-2;
    }
  }

  &__label {
    display: block;
    margin-left: 2rem;
    margin-top: 0.7rem;
    font-size: 1.2rem;
    font-weight: 700;
    transition: $transition-default;
  }

  &__input:placeholder-shown + &__label {
    opacity: 0;
    transform: translateY(-4rem);
  }

  &__radio_group {
    width: 49%;
    display: inline-block;
  }

  &__radio_label {
    font-size: $font-size-default;
    cursor: pointer;
    padding-left: 4rem;
    position: relative;
  }

  &__radio_input {
    display: none;
  }

  &__radio_button {
    display: inline-block;
    height: 3rem;
    width: 3rem;
    border: 0.5rem solid $color-primary;
    border-radius: 50%;
    position: absolute;
    top: -0.6rem;
    left: 0;

    &::after {
      content: '';
      display: block;
      @include vh-center();
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      background-color: $color-primary;
      opacity: 0;
      transition: $transition-default;
    }
  }

  &__radio_input:checked + &__radio_label &__radio_button::after {
    opacity: 1;
  }

}