.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba($color-black, 0.9);
  z-index: 2000;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;

  &__content {
    @include vh-center();
    width: 75%;
    height: 50rem;
    background: $color-white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 0.3rem;
    display: table;
    overflow: hidden;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all 0.3s;
  }

  &__left {
    width: 33%;
    display: table-cell;
  }
  
  &__right {
    width: 66px;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }
  
  &__image {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    column-count: 2;
    column-gap: 5rem;
    column-rule: 1px solid $color-gray-light-2;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
   -moz-hyphens: auto;
        hyphens: auto;
  }

  &__close {
    position: absolute;
    right: 2.5rem;
    top: 2rem;
    line-height: 1;
    font-size: 3rem;
    color: $color-gray-dark-1;
    text-decoration: none;
    transition: $transition-default;

    &:hover {
      color: $color-primary;
    }
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
  }

}
