*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px; 10px / 16 px = 62.5%
  
  @include media-query-for(tablet-landscape) {
    font-size: 56.25%; // 1rem = 9px; 9px / 16px = 56.25%
  }
  
  @include media-query-for(tablet-portrait) {
    font-size: 50%; // 1rem = 8px; 8px / 16px = 50%
  }
  
  @include media-query-for(phone) {
    font-size: 50%; // 1rem = 8px; 8px / 16px = 50%
  }

  @include media-query-for(small-phone) {
    font-size: 50%; // 1rem = 8px; 8px / 16px = 50%
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  overflow-x: hidden;
  
  @include media-query-for(tablet-portrait) {
    padding: 0;
  }
}
