.section-about {
  background: $color-gray-light-1;
  padding: 30rem 0;
  margin-top: -20vh;
  overflow-x: hidden;
  
  @include media-query-for(tablet-portrait) {
    padding: 27rem 0;
  }
}

.section-features {
  @include background-primary-color-with-image('nat-4.jpg');
  padding: 20rem 0;
  margin-top: -12rem;
  transform: skewY(-7deg);
  
  @include media-query-for(tablet-portrait) {
    padding: 12rem 0;
  }
  
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background: $color-gray-light-1;
  padding: 25rem 0 10rem;
  margin-top: -12rem;
  
  @include media-query-for(tablet-portrait) {
    padding: 20rem 0 7rem;
  }
}

.section-stories {
  padding: 9rem 0;
  position: relative;
  
  @supports ((-webkit-clip-path: 0 0) or (clip-path: 0 0)) {
    padding: 15rem 0;
  }
  
  @include media-query-for(tablet-portrait) {
    padding: 8rem 0;
  }
}

.section-book {
  padding: 15rem 0;
  background-image: background-linear-gradient($color-type-primary);
  
  @include media-query-for(tablet-portrait) {
    padding: 8rem 0;
  }
}

.book {
  background-image: 
  linear-gradient(105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%,
      transparent 100%
    ),
    url(../../img/nat-10.jpg);
  background-size: cover;
  border-radius: 0.3rem;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);

  @include media-query-for(tablet-landscape) {
    background-image: 
    linear-gradient(105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%,
        transparent 100%
      ),
      url(../../img/nat-10.jpg);
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }

  @include media-query-for(tablet-portrait) {
    background-image: 
    linear-gradient(to left,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../../img/nat-10.jpg);
    width: auto;
  }

  &__form {
    width: 56%;
    padding: 6rem;
    padding-bottom: 2rem;

    @include media-query-for(tablet-landscape) {
      width: 70%;
    }

    @include media-query-for(tablet-portrait) {
      width: 100%;
      padding: 4.5rem;
      padding-bottom: 3rem;
    }
  }
}